<p id="notice"><%= notice %></p>

<div class="formulario">
  <p>
    <strong>Nombre:</strong>
    <%= @tecnico.nombre %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @tecnico.apellidos %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @tecnico.email %>
  </p>

  <p>
    <strong>Valoracion:</strong>
    <%= @tecnico.valoracion %>
  </p>

  <p>
    <strong>Contraseña:</strong>
    <%= @tecnico.contrasena %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= @tecnico.tipo_tecnico %>
  </p>
</div>

<%= link_to 'Editar', edit_tecnico_path(@tecnico) %> |
<%= link_to 'Atrás', tecnicos_path %>
