<!DOCTYPE html>
<html>
  <head>
    <title>SOSEMADO Client View</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
        <ul class="menu">
            <li class="opcion_nav">
              <%= link_to image_tag("logo.png") + content_tag(:p, "SOSEMADO"), root_path, class:"logo" %>
            </li>
            <li class="opcion_nav"><%= link_to content_tag(:p, "Mis trabajos"), trabajos_path %></a></li>
            <li class="opcion_nav"><%= link_to content_tag(:p, "Mis clientes"), clientes_path %></a></li>
            <li class="opcion_nav_right"><%= link_to content_tag(:p, "Iniciar sesión"), root_path %></a></li>
          </ul> 
    </nav>  
    <%= yield %>
  </body>
</html>
